<app-navbar></app-navbar>
       <!-- Search Form -->
       <div class="search-form-container">
        <div class="search-form d-flex justify-content-center">
            <div class="row d-flex justify-content-center align-items-center search-row">
                <!-- Name Input -->
                <div class="col input-container">
                    <input 
                        type="text" 
                        class="form-control" 
                        id="searchName" 
                        placeholder="Enter name" 
                        [(ngModel)]="nameForSearch"
                        name="nameForSearch">
                </div>
    
                <!-- Email Input -->
                <div class="col input-container">
                    <input 
                        type="email" 
                        class="form-control" 
                        id="searchEmail" 
                        placeholder="Enter email" 
                        [(ngModel)]="userNameForSearch"
                        name="userNameForSearch">
                </div>
    
                <!-- Category Dropdown -->
                <div class="col input-container">
                    <select 
                        class="form-control" 
                        id="category" 
                        [(ngModel)]="categoryForSearch"
                        name="categoryForSearch">
                        <option [value]="0">Select Category</option>
                        <option *ngFor="let category of postCategory" [value]="category.categoryId">{{ category.categoryName }}</option>
                    </select>
                </div>
    
                <!-- Status Dropdown -->
                <div class="col input-container">
                    <select 
                        class="form-control" 
                        id="status" 
                        [(ngModel)]="PostTypeForSearch"
                        name="PostTypeForSearch">
                        <option [value]="0">Select Status</option>
                        <option *ngFor="let type of postType" [value]="type.postStatusId">{{ type.statusName }}</option>
                    </select>
                </div>
    
                <!-- Buttons -->
                <div class="col button-container d-flex justify-content-start">
                    <button 
                        type="reset" 
                        class="btn btn-primary"
                        (click)="resetSearch()">Reset</button>
                    <button 
                        type="submit" 
                        class="btn btn-primary"
                        (click)="search()">Search</button>
                </div>
            </div>
        </div>
    </div>
    
<div class="container">
    
    <div class="row justify-content-center">
        <div class="col-sm-9 col-sm-offset-2">
    
            <div class="row" >
                
                <div class="col-sm-12" *ngFor="let post of homePosts">
                    <div class="panel panel-white post">
                        <div class="post-heading" style="display: flex; align-items: center; justify-content: space-between;">
                            <div style="display: flex; align-items: center;">
                                <div class="pull-left image">
                                    <img [src]="post.userAttachmentPath" class="img-circle avatar" alt="user profile image">
                                </div>
                                <div class="pull-left meta" style="margin-left: 10px;">
                                    <div class="title h5">
                                        <a (click)="redirectToProfile(post.userId!)"><b>{{post.firstName}} {{post.lastName}}</b></a>
                                    </div>
                                    <h6 class="text-muted time">{{timeAgo(post.createdAt!.toString())}}</h6>
                                </div>
                            </div>
                            <div class="icon-container">
                                <i class="fa-solid fa-exclamation-circle" (click)="openReport(post.postId!)"></i>
                            </div>
                        </div>
                        
                        
                        <p style="margin-left: 10px;">{{post.contant}}</p>
                        <div class="post-image">
                            <img *ngIf="post.postAttachmentPath" src=""><img *ngIf="post.postAttachmentPath" [src]="post.postAttachmentPath" class="image" alt="image post">
                        </div>
                    </div>
                </div>

                
            </div>
            
        </div>
    
    </div>
    </div>

    <ng-template #reportTemplate>
        <div class="report-modal">
          <h3>Report Post</h3>
          <textarea
            [(ngModel)]="complaintDescription"
            placeholder="Describe the issue with this post..."
            rows="4"
            class="complaint-textarea"
          ></textarea>
          <div class="report-actions">
            <button class="btn btn-secondary" (click)="cancelReport()">Cancel</button>
            <button class="btn btn-primary" (click)="sendReport()">Send</button>
          </div>
        </div>
      </ng-template>
      