<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
          <div class="brand-logo d-flex align-items-center">
            <div class="d-flex align-items-center">
                <img src="../../../../../assets/Admin/images/profile/user-1.jpg" alt="Profile Picture" 
                    width="50" height="50" class="rounded-circle me-2">
                <div style="margin-left: 20px; margin-top: 10px;">
                    <h3 class="mb-0">AMANI SAMI</h3>
                    <h4 class="text-muted">Admin</h4>
                </div>
            </div>
        </div>
        
        
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu"></span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link"  routerLink="/admin/dashboard" routerLinkActive="active" aria-expanded="false">
                  <span>
                    <i class="ti ti-layout-dashboard"></i>
                  </span>
                  <span class="hide-menu">Dashboard</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/admin/userMange" routerLinkActive="active" aria-expanded="false">
                  <span>
                    <i class="ti ti-file-description"></i>
                  </span>
                  <span class="hide-menu">User Management</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/admin/skillsCategories" routerLinkActive="active" aria-expanded="false">
                  <span>
                    <i class="ti ti-article"></i>
                  </span>
                  <span class="hide-menu">Management Skills</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/admin/postCategory" routerLinkActive="active" aria-expanded="false">
                  <span>
                    <i class="bi bi-collection" style="font-weight: bolder;"></i>
                  </span>
                  <span class="hide-menu">Post Category</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/admin/postStatus" routerLinkActive="active" aria-expanded="false">
                  <span>
                    <i class="bi bi-exclude"></i>
                  </span>
                  <span class="hide-menu">Post Status</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/admin/complain" routerLinkActive="active"  aria-expanded="false">
                  <span>
                    <i class="ti ti-alert-circle"></i>
                  </span>
                  <span class="hide-menu">Complain</span>
                </a>
              </li>
             
              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/admin/contact" routerLinkActive="active" aria-expanded="false">
                  <span>
                    <i class="ti ti-cards"></i>
                  </span>
                  <span class="hide-menu">Contact Us</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/admin/profile" routerLinkActive="active" aria-expanded="false">
                  <span>
                    <i class="bi bi-person-lines-fill"></i>
                  </span>
                  <span class="hide-menu">Profile </span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="./authentication-login.html" aria-expanded="false">
                  <span>
                    <i class="ti ti-login"></i>
                  </span>
                  <span class="hide-menu">Login</span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
    </div>