
<div class="container mt-5">

    <div class="resume-header text-center">
      <h1>{{userProfile?.firstName}} {{userProfile?.lastName}}</h1>
      <h3>{{userProfile?.jobTitle}}</h3>
      <p>{{ userProfile?.phoneNumber }} | {{ userProfile?.userName }} | {{ userProfile?.address }}</p>
    </div>
  
    <div>
      <div class="resume-section">
        <h4>EXPERIENCES</h4>
        <div *ngFor="let experience of home.UserExperienceById">
          <div class="experience-item">
            <div class="experience-header">
              <strong>{{ experience.userExperienceTitle }}</strong>
              <span>({{ experience.userExperienceDateFrom | date }}- {{ experience.userExperienceDateTo| date }})</span>
            </div>
            <p>{{ experience.userExperienceDiscription }}</p>
          </div>
        </div>
      </div>
  
      <div class="resume-section">
        <h4>PROJECTS</h4>
        <div *ngFor="let project of home.UserProjectById">
          <div class="experience-item">
            <div class="experience-header">
              <strong>{{ project.userProjectsTitle }}</strong>
            </div>
            <p>{{ project.userProjectDiscription }}</p>
          </div>
        </div>
      </div>
  
      <div class="resume-section">
        <h4>TECHNICAL SKILLS</h4>
        <ul class="skills-list"> 
          <li *ngFor="let skill of home.UserSkillByUserId">{{ skill.skillName }}</li>
        </ul>
      </div>
  
      <div class="resume-section">
        <h4>EDUCATION</h4>
        <ul>
          <li *ngFor="let edu of home.UserEducationById">
            {{ edu.certificationName }} - {{ edu.universityName }} ({{ edu.userExperienceDateFrom | date }}- {{ edu.userExperienceDateTo| date }})
          </li>
        </ul>
      </div>
    </div>